<div class="container-fluid border border-dark">
    <div class="row" style="height: 720px;">
      <div class="col-4 border border-dark">
        <h3>Team Form</h3>
        <form #teamForm = "ngForm" (ngSubmit) = "onCreateTeam(teamForm.value)">
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="name" ngModel name="name">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="conference" ngModel name="conference">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="city" ngModel name="city">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
      <div class="col-8 border border-dark">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Conference</th>
              <th scope="col">City</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let team of loadedTeams">
              <td>{{ team.id }}</td>
              <td>{{ team.name }}</td>
              <td>{{ team.conference }}</td>
              <td>{{ team.city }}</td>
              <td>
                <button class="btn btn-danger" (click) = "deleteTeam(team.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>




